
<div style="position: relative; float: left;">
	<%=image_tag("http://image.eveonline.com/Character/"+@characterSheat.characterID+"_256.jpg")%>
</div>

<div>
	<h1><%=@characterSheat.name %></h1>
	<%=image_tag("http://image.eveonline.com/Corporation/"+@characterSheat.corporationID+"_128.png")%>
	<%=@characterSheat.corporationName %><br/>
	Balance : <%= number_with_delimiter(@characterSheat.balance,  :delimiter => " ", :separator => ".") %> ISK <br/>
	Total SP: <%= number_with_delimiter(@total_skills_pts,  :delimiter => " ", :separator => ".") %><br/>
	Max Clone SP: <%= @characterSheat.cloneName %>
	<%= number_with_delimiter(@characterSheat.cloneSkillPoints,  :delimiter => " ", :separator => ".") %>
</div>
<br/>



<ul>
	<li style="display: inline;"> <%=image_tag("Icons/items/32_32/icon60_03.png")%>Intelligence		<%= @characterSheat.attributes.intelligence %></li>
	<li style="display: inline;"> <%=image_tag("Icons/items/32_32/icon60_02.png")%>Perception		<%= @characterSheat.attributes.perception %></li>
	<li style="display: inline;"> <%=image_tag("Icons/items/32_32/icon61_01.png")%>Charisma			<%= @characterSheat.attributes.charisma %></li>
	<br/>
	<li style="display: inline;"> <%=image_tag("Icons/items/32_32/icon60_01.png")%>Willpower		<%= @characterSheat.attributes.willpower %></li>
	<li style="display: inline;"> <%=image_tag("Icons/items/32_32/icon60_04.png")%>Memory			<%= @characterSheat.attributes.memory %></li>
</ul>

Training Queue :<br/>
<ul>
<%- @skillQueue.skillqueue.each()  do |skill| %>
	<li><%=image_tag("Types/11584_32.png")%><%=@skillNames[skill.typeID.to_i]+' - '+skill.level+' - '+skill.endTime%></li>
<% end -%>
</ul>


Known skills :
<ul>
<%- @aaaa.each()  do |skillGroups, skills| %>	
	<li><span onclick="toogleGroup('<%=skillGroups%>');">-<%= skillGroups%> </span>		
		<ul id="<%=skillGroups%>" style="display: none" >
		
		<%- skills.each()  do |skill_id, skill_name| %>
			
			<li id="known">
				<%=image_tag("Types/11584_32.png")%>
				<span>
					<%=  skill_name %> <em>( <%= skill_id %> )</em> <br/>
					Level <%=@knownSkills[skill_id.to_i]%> <br/>
					To lvl <%=@knownSkills[skill_id.to_i].to_i + 1%>: 4d 16h 3min 36s 
				</span>
			</li>
			
		<% end -%>
		</ul>
	</li>	
<% end -%>
</ul>


<!---------------------------
SkillTree :<br/>
<ul>
<%- @skillTree.skillGroups.each()  do |skillGroups| %>
	
	<li><span onclick="toogleGroup('st_<%=skillGroups.groupName%>');">-<%= skillGroups.groupName %> <em>(<%= skillGroups.groupID %> )</em> </span>
		<ul id="st_<%=skillGroups.groupName%>" style="display: none" >
		<%- skillGroups.skills.each()  do |skill| %>
			
			<li>
				<%=image_tag("Types/11584_32.png")%>
				<span>
					<%=  skill.typeName %> <em>( <%= skill.typeID %> )</em> <br/>
					Level 1 <br/>
					To lvl 2 : 4d 16h 3min 36s 
				</span>
			</li>
			
		<% end -%>
		</ul>
	</li>	
<% end -%>
</ul>


<%- @characterSheat.skills.each()  do |skill| %>
	
	<%=image_tag("Types/" + skill.typeID + "_64.png")%>
	<%= skill.typeID %> : <%= skill.level %> <em>(SP: <%= skill.skillpoints %> pts)</em> <br/>
	
<% end -%>

-->





<%= javascript_tag :defer => 'defer' do -%>
	function toogleGroup(group) {
		new Effect.toggle(group, 'blind');
		
	}
<% end -%>
