<h1>Perso#index</h1>
<p>Find me in app/views/perso/index.html.erb</p>

<h1><%=@characterSheat.name %></h1>

<div style="position: relative; float: left;">


<%=image_tag("http://image.eveonline.com/Character/"+@characterSheat.characterID+"_256.jpg")%>
</div>

<div>
<h1><%=@characterSheat.name %></h1>
<%=image_tag("http://image.eveonline.com/Corporation/"+@characterSheat.corporationID+"_128.png")%>
<%=@characterSheat.corporationName %><br/>
Balance : <%=@characterSheat.balance %><br/>
Total SP: <% %><br/>
Max Clone SP: <%=@characterSheat.cloneSkillPoints %><br/>



<ul>
	<%- @skillTree.skillGroups.each()  do |skillGroups| %>
		
		<li><span onclick="toogleGroup('<%=skillGroups.groupName%>');">-<%= skillGroups.groupName %> <em>(<%= skillGroups.groupID %> )</em> </span>
			<ul id="<%=skillGroups.groupName%>" style="display: none" >
				<%- skillGroups.skills.each()  do |skill| %>
					
					<li>
						<%=image_tag("Types/11584_32.png")%>
						<span>
							<%=  skill.typeName %> <em>( <%= skill.typeID %> )</em> <br/>
							Level 1 <br/>
							To lvl 2 : 4d 16h 3min 36s 
						</span>
					</li>
					
				<% end -%>
			</ul>
		</li>	
	<% end -%>
</ul>
<%- @characterSheat.skills.each()  do |skill| %>
	
	<%=image_tag("Types/" + skill.typeID + "_64.png")%>
	<%= skill.typeID %> : <%= skill.level %> <em>(SP: <%= skill.skillpoints %> pts)</em> <br/>
	
<% end -%>

<%= javascript_tag :defer => 'defer' do -%>
	function toogleGroup(group) {
		$(group).toggle();
		
	}
<% end -%>
